/videoFileToFileTest
/test1
/test3
/test5
/test8
/screenshotTest
/test2
/test4
/test7
/screenshot3.jpg
/screenshot4.jpg
/sample.avi
/screenshot2.jpg
/screenshot1.jpg
/outputfile.mp4
/screenshot5.jpg
/streamingRtpScreenTest
/sample.mp3
/muxingVideoAndAudioTest
/streamingUDPTest
/captureCamAndMicTest
/output.mp4
/saida.mp4
/audioFileToFileTest
/imageFromVideo
